{
  "env": {
    "node": true
  },
  "extends": [
    "xo",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": ["error", {
      "singleQuote": true
    }]
  }
}
